*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: blueviolet;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%px;
}

.menu nav ul{
    height: 100%px;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: blueviolet;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: blueviolet;
}

.menu text-menu-selected:before{
    color: blueviolet;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #fafafafa;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-content: center;
}

/** Portada**/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;  
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: yellow;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: yellow;
    font-size: 20px;
    font-weight: 500;
}

/** Contenido**/
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: blueviolet;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(43, 35, 35);
}

article img{
    width: 100%;
    margin-top: 20px;
}